<!DOCTYPE html>
<html>
<head>

    <title>Student Lotto - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="${root}/StudentLotto/resources/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="${root}/StudentLotto/resources/css/core.css" rel="stylesheet" media="screen" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="${root}/StudentLotto/resources/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>
        Thank you for registering with Student Lotto
    </h1>
 	<p class="lead">
          We need to verify your email address before your account is activated.
    </p>
    <p class="lead">
    	To activate your account please click the following link:​
 			<a href="http://server-address.com/activation?id=THISISAUNIQUEGUID">http://server-address.com/activation?id=THISISAUNIQUEGUID&email=${email}</a>
 	</p>
</div>
</body>
</html>