<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Lotto - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="text-center">
	     <th:block th:if="${message != null}">
	      <th:block th:if="${message.message == 'signup.success'}">
	      	<h1>Thank you for Registering</h1>
	      	<p class="lead">
	      		An email has been sent to your account. Please respond to it to verify your account.
	      	</p>
	      </th:block>
	      <th:block th:if="${message.message == 'email.activate'}">
	      	<h1>Welcome to Student Lotto</h1>
	      	<p class="lead">
	      		Your account has been activated. Please sign in!
	      	</p>
	      </th:block>
	      <th:block th:if="${message.message == 'email.reset'}">
	      	<h1>Welcome to Student Lotto</h1>
	      	<p class="lead">
	      		An email has been sent to you with instructions on how to reset your password.
	      	</p>
	      </th:block>	      
	      <th:block th:if="${message.message == 'email.expired'}">
		    <div th:replace="fragments/alert :: alert (type='danger', message='Your email code has expired.')">Alert</div>
			<h1>Welcome to Student Lotto</h1>
	        <p class="lead">
	            Participate in your schools' scholarship lottery or donate to a school of your choice
	        </p>
	      </th:block>
	      <th:block th:if="${message.message == 'password.changed'}">
		    <div th:replace="fragments/alert :: alert (type='success', message='Your password has been changed.')">Alert</div>
			<h1>Welcome to Student Lotto</h1>
	        <p class="lead">
	            Participate in your schools' scholarship lottery or donate to a school of your choice
	        </p>
	      </th:block>
	    </th:block>
	    <th:block th:unless="${message != null}">
	        <h1>Welcome to Student Lotto</h1>
	        <p class="lead">
	            Participate in your schools' scholarship lottery or donate to a school of your choice
	        </p>
	    </th:block>
    </div>    
    
    <div th:replace="fragments/login">&nbsp;</div>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>