<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Lotto</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
  	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
  	<link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.ui.timepicker.addon/1.4.5/jquery-ui-timepicker-addon.css" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="//cdn.jsdelivr.net/jquery.ui.timepicker.addon/1.4.5/jquery-ui-sliderAccess.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.ui.timepicker.addon/1.4.5/jquery-ui-timepicker-addon.js"></script>
    
    <script>    	

	  $(function() {
	    $( "#purchaseStartDate, #purchaseEndDate, #drawingDate" ).datetimepicker({
	      changeMonth: true,
	      changeYear: true,
	      yearRange: "c-100:c",
	      timeFormat: "hh:mm tt"
	    });
	    
	    $("#maxWinnings").change(function(){
			  if(isNaN(parseFloat($("#maxWinnings").val()))){
				  alert("Maximum Winnings must be a valid number.")
				  $("#maxWinnings").val("0.0")
			  }
		  })
	 
	  
	  $( "#numberOfBallsAvailableSlider" ).slider({
	      range: "max",
	      min: 10,
	      max: 100,
	      value: 1,
	      slide: function( event, ui ) {
	        $( "#numberOfBallsAvailable" ).val( ui.value );
	      }
	    });
  
	  if($( "#numberOfBallsAvailable" ).val() == null) {
		  $( "#numberOfBallsAvailable" ).val( $( "#numberOfBallsAvailableSlider" ).slider( "value" ) );
	  } else {
		  $( "#numberOfBallsAvailableSlider" ).slider( "value", $( "#numberOfBallsAvailable" ).val());
	  }
	  
	  $( "#numberOfBallsPickedSlider" ).slider({
	      range: "max",
	      min: 3,
	      max: 6,
	      value: 1,
	      slide: function( event, ui ) {
	        $( "#numberOfBallsPicked" ).val( ui.value );
	      }
	    });
	  
	  if($( "#numberOfBallsPicked" ).val() == null) {
		  $( "#numberOfBallsPicked" ).val( $( "#numberOfBallsPickedSlider" ).slider( "value" ) );
	  } else {
		  $( "#numberOfBallsPickedSlider" ).slider( "value", $( "#numberOfBallsPicked" ).val());
	  }
	  
	  $( "#studentWinningPercentageSlider" ).slider({
	      range: "max",
	      min: 1,
	      max: 100,
	      value: 1,
	      slide: function( event, ui ) {
	        $( "#studentWinningPercentage" ).val( ui.value );
	      }
	    });
	  
	  if($( "#studentWinningPercentage" ).val() == null) {
		  $( "#studentWinningPercentage" ).val( $( "#studentWinningPercentageSlider" ).slider( "value" ) );
	  } else {
		  $( "#studentWinningPercentageSlider" ).slider( "value", $( "#studentWinningPercentage" ).val());
	  }
	 
	  
	  
	  });
	</script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<form id="editLotteryForm" class="form-narrow form-horizontal" method="post" th:action="@{/lottery/edit}" th:object="${editLotteryForm}">
    <!-- /* Show general error message when form contains errors */ -->
    <th:block th:if="${#fields.hasErrors('${editLotteryForm.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
    </th:block>
    <div class="col-lg-10" th:classappend="${#fields.hasErrors('global')}? 'has-error'">
		<span class="help-block" th:if="${#fields.hasErrors('global')}" th:errors="*{global}"></span>
	</div>
    <fieldset>
        <legend>Edit Lottery</legend>
        <div class="form-narrow" id="loginInfo">
        
        	
	     <fieldset>   
		     <legend>Days that tickets may be purchased</legend>
		       <div class="form-group" th:classappend="${#fields.hasErrors('purchaseStartDate')}? 'has-error'">
		            <label for="purchaseStartDate" class="col-lg-2 control-label">Start Day</label>
		            <div class="col-lg-10">
		                <input type="text" class="form-control" id="purchaseStartDate"  th:field="*{purchaseStartDate}"/>
		                <span class="help-block" th:if="${#fields.hasErrors('purchaseStartDate')}" th:errors="*{purchaseStartDate}"></span>
		            </div>
		        </div>
		        
		       <div class="form-group" th:classappend="${#fields.hasErrors('purchaseEndDate')}? 'has-error'">
		            <label for="purchaseEndDate" class="col-lg-2 control-label">End Day</label>
		            <div class="col-lg-10">
		                <input type="text" class="form-control" id="purchaseEndDate"  th:field="*{purchaseEndDate}"/>
		                <span class="help-block" th:if="${#fields.hasErrors('purchaseEndDate')}" th:errors="*{purchaseEndDate}"></span>
		            </div>
		        </div>
	        </fieldset>
	        
	        
   		    <div class="form-group" th:classappend="${#fields.hasErrors('drawingDate')}? 'has-error'">
	            <label for="drawingDate" class="col-lg-2 control-label">Day of drawing</label>
	            <div class="col-lg-10">
	                <input type="text" class="form-control" id="drawingDate"  th:field="*{drawingDate}"/>
	                <span class="help-block" th:if="${#fields.hasErrors('drawingDate')}" th:errors="*{drawingDate}"></span>
	            </div>
	        </div>
	        
	         <fieldset>   
		     <legend>Lottery Options</legend>
	        
	        <div class="form-group" th:classappend="${#fields.hasErrors('lotteryTicketCost')}? 'has-error'">
	            <label for="lotteryTicketCost" class="col-lg-2 control-label">Lottery Ticket Cost</label>
	            <div class="col-lg-10">
	                <input type="text" class="form-control" id="lotteryTicketCost"  th:field="*{lotteryTicketCost}"/>
	                <span class="help-block" th:if="${#fields.hasErrors('lotteryTicketCost')}" th:errors="*{lotteryTicketCost}"></span>
	            </div>
	        </div>
	        
	        <div class="form-group" th:classappend="${#fields.hasErrors('maxTicketsAllowedToPurchase')}? 'has-error'">
	            <label for="maxTicketsAllowedToPurchase" class="col-lg-2 control-label">Max Tickets Purchased Per Student</label>
	            <div class="col-lg-10">
	                <input type="text" class="form-control" id="maxTicketsAllowedToPurchase"  th:field="*{maxTicketsAllowedToPurchase}"/>
	                <span class="help-block" th:if="${#fields.hasErrors('maxTicketsAllowedToPurchase')}" th:errors="*{maxTicketsAllowedToPurchase}"></span>
	            </div>
	        </div>
	        
	        <div class="form-group" th:classappend="${#fields.hasErrors('numberOfBallsAvailable')}? 'has-error'">
	            <label for="numberOfBallsAvailable" class="col-lg-2 control-label">Number of Balls Available</label>
	            <div class="col-lg-10">
	                <input type="text" class="form-control" id="numberOfBallsAvailable" readonly="readonly"   th:field="*{numberOfBallsAvailable}"/>
	                <div id="numberOfBallsAvailableSlider"></div>
	                <span class="help-block" th:if="${#fields.hasErrors('numberOfBallsAvailable')}" th:errors="*{numberOfBallsAvailable}"></span>
	            </div>
	        </div>
	        
	         <div class="form-group" th:classappend="${#fields.hasErrors('numberOfBallsPicked')}? 'has-error'">
	            <label for="numberOfBallsPicked" class="col-lg-2 control-label">Number of Balls Picked</label>
	            <div class="col-lg-10">
	                <input type="text" class="form-control" id="numberOfBallsPicked" readonly="readonly"   th:field="*{numberOfBallsPicked}"/>
	                <div id="numberOfBallsPickedSlider"></div>
	                <span class="help-block" th:if="${#fields.hasErrors('numberOfBallsPicked')}" th:errors="*{numberOfBallsAvailable}"></span>
	            </div>
	        </div>
	        
	         <div class="form-group" th:classappend="${#fields.hasErrors('studentWinningPercentage')}? 'has-error'">
	            <label for="studentWinningPercentage" class="col-lg-2 control-label">Student Winning Percentage</label>
	            <div class="col-lg-10">
	                <input type="text" class="form-control" id="studentWinningPercentage"  th:field="*{studentWinningPercentage}" readonly="readonly"/>
	                 <div id="studentWinningPercentageSlider"></div>
	                <span class="help-block" th:if="${#fields.hasErrors('studentWinningPercentage')}" th:errors="*{studentWinningPercentage}"></span>
	            </div>
	            
	        </div>
	       
	        
	         <div class="form-group" th:classappend="${#fields.hasErrors('fullMatchGuaranteed')}? 'has-error'">
	            <label for="fullMatchGuaranteed" class="col-lg-2 control-label">One Full Match Guaranteed</label>
	            <div class="col-lg-10">
	                <input type="checkbox" class="form-control" id="fullMatchGuaranteed"  th:field="*{fullMatchGuaranteed}"/>
	                <span class="help-block" th:if="${#fields.hasErrors('fullMatchGuaranteed')}" th:errors="*{fullMatchGuaranteed}"></span>
	            </div>
	            
	        </div>
	   </fieldset>
        <input type="hidden" id="id"  th:field="*{id}"/>
	                
        
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Save</button>
                <button type="button" class="btn btn-default" onclick="window.location.href= window.location.href.replace('/lottery/edit','')">Cancel</button>
            </div>
        </div>
     </div>
    </fieldset>
</form>
</body>
</html>