<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
		<!-- <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div> -->
		<th:block th:if="${message.message == 'addUniversity.success'}">
	      	<h1>University Successfully Added</h1>
	    </th:block>
	    <th:block th:if="${message.message == 'editUniversity.success'}">
	      	<h1>University Successfully Updated</h1>
	    </th:block>
	     <th:block th:if="${message.message == 'ticket.edit.anonymousStudent'}">
	   <div th:replace="fragments/alert :: alert (type='danger', message='Your session had expired. Please sign in and try again.')">Alert</div>
	    </th:block>
	    <th:block th:if="${message.message == 'ticket.edit.maxNumTicketExceeded'}">
	    <div th:replace="fragments/alert :: alert (type='info', message='You have purchased the maximum allowable number of tickets for this lottery.')">Alert</div>
	    </th:block>
	    <th:block th:if="${message.message == 'ticket.edit.unavailableLottery'}">
	    <div th:replace="fragments/alert :: alert (type='info', message='There is currently no available lottery for your university. Please check back again soon.')">Alert</div>
	    </th:block>
	        <th:block th:if="${message.message == 'payment.successful'}">
	    <div th:replace="fragments/alert :: alert (type='success', message='We have successfully processed your payments.')">Alert</div>
	    </th:block>
    </th:block>
    <p>
        Welcome to the Student Lotto application!
    </p>
</div>
</body>
</html>
